<button  (click) = "sendDelete()" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
<button (click) = "toggleEdit()" type="button" class="btn btn-default">{{editButtonText}}</button>

<span *ngIf = "!isEdit">  Name: {{user.name}} ({{user.email}})  </span>
<span *ngIf = "isEdit">
    Name: <input type="name" [(ngModel)] = "user.name">
    Email: <input type="email" [(ngModel)] = "user.email">
</span>






